#canvas{
	border: 1px solid #000;
	position: absolute;
	left:50%;
	top:0px;
	margin-left: -160px;
	background: url(../image/t016efc76aaed71a4b8.png) ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#btn1{
	position: absolute;
	top:40%;
	left: 46%;
	display: block;
	/* width:100px;
	height: 60px; */
}
#btn2{
	position: absolute;
	top:30%;
	left: 46%;
	display: none;
}
/*@media(max-width:640px){
		#canvas #btn1{
	    width:89px;
		}
		#canvas #btn2{
	    left:40%;
		}
	}*/